.div{
    background-color: #2e2c2c;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    
}

.grid{
    align-items: center;
    align-content: center;
}

.titulo{
    background-color: rgb(56, 117, 231);
    height: 50px;
    align-items: center;
    margin-top: 20px;
   
    pointer-events: none;
}

.box{

    display: flex;
    background-color: white;
    padding: 16px;
    margin-top: 10px;
    
    
    
}

.box:hover{
    background-color: #DCE1E9;
    cursor: pointer;
   
}

.box:active{
    background-color: #a5aebe;
}

.text{
    background-color: transparent;
    justify-content: center;
    
    pointer-events: none;
}